@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
    color: #ECEDEE;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #272728;
}

::-webkit-scrollbar-thumb:hover {
    background: #313131;
}